<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dais.mapper.Fvirtualaddress_withdrawMapper" >
  <resultMap id="BaseResultMap" type="com.dais.model.Fvirtualaddress_withdraw" >
    <id column="fId" property="fid" jdbcType="INTEGER" />
    <result column="fVi_fId" property="fviFid" jdbcType="INTEGER" />
    <result column="flabel" property="flabel" jdbcType="VARCHAR" />
    <result column="fAdderess" property="fadderess" jdbcType="VARCHAR" />
    <result column="fuid" property="fuid" jdbcType="INTEGER" />
    <result column="fCreateTime" property="fcreatetime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="init" property="init" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fId, fVi_fId, flabel, fAdderess, fuid, fCreateTime, version, init
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dais.model.Fvirtualaddress_withdrawExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fvirtualaddress_withdraw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fvirtualaddress_withdraw
    where fId = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fvirtualaddress_withdraw
    where fId = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dais.model.Fvirtualaddress_withdrawExample" >
    delete from fvirtualaddress_withdraw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dais.model.Fvirtualaddress_withdraw" >
    insert into fvirtualaddress_withdraw (fId, fVi_fId, flabel, 
      fAdderess, fuid, fCreateTime, 
      version, init)
    values (#{fid,jdbcType=INTEGER}, #{fviFid,jdbcType=INTEGER}, #{flabel,jdbcType=VARCHAR}, 
      #{fadderess,jdbcType=VARCHAR}, #{fuid,jdbcType=INTEGER}, #{fcreatetime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER}, #{init,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.dais.model.Fvirtualaddress_withdraw" >
    insert into fvirtualaddress_withdraw
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        fId,
      </if>
      <if test="fviFid != null" >
        fVi_fId,
      </if>
      <if test="flabel != null" >
        flabel,
      </if>
      <if test="fadderess != null" >
        fAdderess,
      </if>
      <if test="fuid != null" >
        fuid,
      </if>
      <if test="fcreatetime != null" >
        fCreateTime,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="init != null" >
        init,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="fviFid != null" >
        #{fviFid,jdbcType=INTEGER},
      </if>
      <if test="flabel != null" >
        #{flabel,jdbcType=VARCHAR},
      </if>
      <if test="fadderess != null" >
        #{fadderess,jdbcType=VARCHAR},
      </if>
      <if test="fuid != null" >
        #{fuid,jdbcType=INTEGER},
      </if>
      <if test="fcreatetime != null" >
        #{fcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="init != null" >
        #{init,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dais.model.Fvirtualaddress_withdrawExample" resultType="java.lang.Integer" >
    select count(*) from fvirtualaddress_withdraw
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fvirtualaddress_withdraw
    <set >
      <if test="record.fid != null" >
        fId = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.fviFid != null" >
        fVi_fId = #{record.fviFid,jdbcType=INTEGER},
      </if>
      <if test="record.flabel != null" >
        flabel = #{record.flabel,jdbcType=VARCHAR},
      </if>
      <if test="record.fadderess != null" >
        fAdderess = #{record.fadderess,jdbcType=VARCHAR},
      </if>
      <if test="record.fuid != null" >
        fuid = #{record.fuid,jdbcType=INTEGER},
      </if>
      <if test="record.fcreatetime != null" >
        fCreateTime = #{record.fcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.init != null" >
        init = #{record.init,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fvirtualaddress_withdraw
    set fId = #{record.fid,jdbcType=INTEGER},
      fVi_fId = #{record.fviFid,jdbcType=INTEGER},
      flabel = #{record.flabel,jdbcType=VARCHAR},
      fAdderess = #{record.fadderess,jdbcType=VARCHAR},
      fuid = #{record.fuid,jdbcType=INTEGER},
      fCreateTime = #{record.fcreatetime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=INTEGER},
      init = #{record.init,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dais.model.Fvirtualaddress_withdraw" >
    update fvirtualaddress_withdraw
    <set >
      <if test="fviFid != null" >
        fVi_fId = #{fviFid,jdbcType=INTEGER},
      </if>
      <if test="flabel != null" >
        flabel = #{flabel,jdbcType=VARCHAR},
      </if>
      <if test="fadderess != null" >
        fAdderess = #{fadderess,jdbcType=VARCHAR},
      </if>
      <if test="fuid != null" >
        fuid = #{fuid,jdbcType=INTEGER},
      </if>
      <if test="fcreatetime != null" >
        fCreateTime = #{fcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="init != null" >
        init = #{init,jdbcType=BIT},
      </if>
    </set>
    where fId = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dais.model.Fvirtualaddress_withdraw" >
    update fvirtualaddress_withdraw
    set fVi_fId = #{fviFid,jdbcType=INTEGER},
      flabel = #{flabel,jdbcType=VARCHAR},
      fAdderess = #{fadderess,jdbcType=VARCHAR},
      fuid = #{fuid,jdbcType=INTEGER},
      fCreateTime = #{fcreatetime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      init = #{init,jdbcType=BIT}
    where fId = #{fid,jdbcType=INTEGER}
  </update>
</mapper>