<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dais.mapper.FvitualCoinTradeRankMapper" >
  <resultMap id="BaseResultMap" type="com.dais.model.FvitualCoinTradeRank" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="highest_bid" property="highestBid" jdbcType="DECIMAL" />
    <result column="lowest_ask" property="lowestAsk" jdbcType="DECIMAL" />
    <result column="last" property="last" jdbcType="DECIMAL" />
    <result column="quoteVolume" property="quotevolume" jdbcType="DECIMAL" />
    <result column="baseVolume" property="basevolume" jdbcType="DECIMAL" />
    <result column="low24hr" property="low24hr" jdbcType="DECIMAL" />
    <result column="high24hr" property="high24hr" jdbcType="DECIMAL" />
    <result column="trade_time" property="tradeTime" jdbcType="INTEGER" />
    <result column="percent_change" property="percentChange" jdbcType="DECIMAL" />
    <result column="coin_type" property="coinType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, highest_bid, lowest_ask, last, quoteVolume, baseVolume, low24hr, high24hr, trade_time, 
    percent_change, coin_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dais.model.FvitualCoinTradeRankExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fvitualcointraderank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fvitualcointraderank
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fvitualcointraderank
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dais.model.FvitualCoinTradeRankExample" >
    delete from fvitualcointraderank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dais.model.FvitualCoinTradeRank" >
    insert into fvitualcointraderank (id, highest_bid, lowest_ask, 
      last, quoteVolume, baseVolume, 
      low24hr, high24hr, trade_time, 
      percent_change, coin_type)
    values (#{id,jdbcType=INTEGER}, #{highestBid,jdbcType=DECIMAL}, #{lowestAsk,jdbcType=DECIMAL}, 
      #{last,jdbcType=DECIMAL}, #{quotevolume,jdbcType=DECIMAL}, #{basevolume,jdbcType=DECIMAL}, 
      #{low24hr,jdbcType=DECIMAL}, #{high24hr,jdbcType=DECIMAL}, #{tradeTime,jdbcType=INTEGER}, 
      #{percentChange,jdbcType=DECIMAL}, #{coinType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dais.model.FvitualCoinTradeRank" >
    insert into fvitualcointraderank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="highestBid != null" >
        highest_bid,
      </if>
      <if test="lowestAsk != null" >
        lowest_ask,
      </if>
      <if test="last != null" >
        last,
      </if>
      <if test="quotevolume != null" >
        quoteVolume,
      </if>
      <if test="basevolume != null" >
        baseVolume,
      </if>
      <if test="low24hr != null" >
        low24hr,
      </if>
      <if test="high24hr != null" >
        high24hr,
      </if>
      <if test="tradeTime != null" >
        trade_time,
      </if>
      <if test="percentChange != null" >
        percent_change,
      </if>
      <if test="coinType != null" >
        coin_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="highestBid != null" >
        #{highestBid,jdbcType=DECIMAL},
      </if>
      <if test="lowestAsk != null" >
        #{lowestAsk,jdbcType=DECIMAL},
      </if>
      <if test="last != null" >
        #{last,jdbcType=DECIMAL},
      </if>
      <if test="quotevolume != null" >
        #{quotevolume,jdbcType=DECIMAL},
      </if>
      <if test="basevolume != null" >
        #{basevolume,jdbcType=DECIMAL},
      </if>
      <if test="low24hr != null" >
        #{low24hr,jdbcType=DECIMAL},
      </if>
      <if test="high24hr != null" >
        #{high24hr,jdbcType=DECIMAL},
      </if>
      <if test="tradeTime != null" >
        #{tradeTime,jdbcType=INTEGER},
      </if>
      <if test="percentChange != null" >
        #{percentChange,jdbcType=DECIMAL},
      </if>
      <if test="coinType != null" >
        #{coinType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dais.model.FvitualCoinTradeRankExample" resultType="java.lang.Integer" >
    select count(*) from fvitualcointraderank
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fvitualcointraderank
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.highestBid != null" >
        highest_bid = #{record.highestBid,jdbcType=DECIMAL},
      </if>
      <if test="record.lowestAsk != null" >
        lowest_ask = #{record.lowestAsk,jdbcType=DECIMAL},
      </if>
      <if test="record.last != null" >
        last = #{record.last,jdbcType=DECIMAL},
      </if>
      <if test="record.quotevolume != null" >
        quoteVolume = #{record.quotevolume,jdbcType=DECIMAL},
      </if>
      <if test="record.basevolume != null" >
        baseVolume = #{record.basevolume,jdbcType=DECIMAL},
      </if>
      <if test="record.low24hr != null" >
        low24hr = #{record.low24hr,jdbcType=DECIMAL},
      </if>
      <if test="record.high24hr != null" >
        high24hr = #{record.high24hr,jdbcType=DECIMAL},
      </if>
      <if test="record.tradeTime != null" >
        trade_time = #{record.tradeTime,jdbcType=INTEGER},
      </if>
      <if test="record.percentChange != null" >
        percent_change = #{record.percentChange,jdbcType=DECIMAL},
      </if>
      <if test="record.coinType != null" >
        coin_type = #{record.coinType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fvitualcointraderank
    set id = #{record.id,jdbcType=INTEGER},
      highest_bid = #{record.highestBid,jdbcType=DECIMAL},
      lowest_ask = #{record.lowestAsk,jdbcType=DECIMAL},
      last = #{record.last,jdbcType=DECIMAL},
      quoteVolume = #{record.quotevolume,jdbcType=DECIMAL},
      baseVolume = #{record.basevolume,jdbcType=DECIMAL},
      low24hr = #{record.low24hr,jdbcType=DECIMAL},
      high24hr = #{record.high24hr,jdbcType=DECIMAL},
      trade_time = #{record.tradeTime,jdbcType=INTEGER},
      percent_change = #{record.percentChange,jdbcType=DECIMAL},
      coin_type = #{record.coinType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dais.model.FvitualCoinTradeRank" >
    update fvitualcointraderank
    <set >
      <if test="highestBid != null" >
        highest_bid = #{highestBid,jdbcType=DECIMAL},
      </if>
      <if test="lowestAsk != null" >
        lowest_ask = #{lowestAsk,jdbcType=DECIMAL},
      </if>
      <if test="last != null" >
        last = #{last,jdbcType=DECIMAL},
      </if>
      <if test="quotevolume != null" >
        quoteVolume = #{quotevolume,jdbcType=DECIMAL},
      </if>
      <if test="basevolume != null" >
        baseVolume = #{basevolume,jdbcType=DECIMAL},
      </if>
      <if test="low24hr != null" >
        low24hr = #{low24hr,jdbcType=DECIMAL},
      </if>
      <if test="high24hr != null" >
        high24hr = #{high24hr,jdbcType=DECIMAL},
      </if>
      <if test="tradeTime != null" >
        trade_time = #{tradeTime,jdbcType=INTEGER},
      </if>
      <if test="percentChange != null" >
        percent_change = #{percentChange,jdbcType=DECIMAL},
      </if>
      <if test="coinType != null" >
        coin_type = #{coinType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dais.model.FvitualCoinTradeRank" >
    update fvitualcointraderank
    set highest_bid = #{highestBid,jdbcType=DECIMAL},
      lowest_ask = #{lowestAsk,jdbcType=DECIMAL},
      last = #{last,jdbcType=DECIMAL},
      quoteVolume = #{quotevolume,jdbcType=DECIMAL},
      baseVolume = #{basevolume,jdbcType=DECIMAL},
      low24hr = #{low24hr,jdbcType=DECIMAL},
      high24hr = #{high24hr,jdbcType=DECIMAL},
      trade_time = #{tradeTime,jdbcType=INTEGER},
      percent_change = #{percentChange,jdbcType=DECIMAL},
      coin_type = #{coinType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>